{% extends "base.twig" %}

{% block content %}
    <div data-w-id="975d830f-0b79-6c71-0ebb-45be264ad390" class="hero-overlay-block">
        <h1 data-ix="fade-in-on-load" class="hero-main-title">{{ post.hero_heading }}</h1><img
            src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c75d2a7d3a27c283f60aa_Path%20147.png"
            height="2" alt="" class="image-3" />
        <h2 data-ix="fade-in-on-load-2" class="hero-main-title subtitle">{{ post.hero_pretext }}</h2>
    </div>
    <div class="container section-2">
        <div class="row">
            <div class="col-lg-4 col-12 d-flex align-items-center flex-column">
                <a href="#" class="home-intro-link-block w-inline-block featured-box-one"></a>
                    <div class="intro-block-text-wrapper">
                        <div class="intro-block-title text-blue">{{ post.box_one_heading }}</div>
						<p class="paragraph">{{ post.box_one_description }}</p>
						<a href="#" class="button-blue w-button button-pill">{{ post.box_one_cta_text }}</a>
                    </div>
                </div>
                <div class="col-lg-4 col-12 d-flex align-items-center flex-column">
                    <a href="#" class="home-intro-link-block _2 w-inline-block">
                    </a>
                    <div class="intro-block-text-wrapper mid">
                        <div class="intro-block-title text-red">{{ post.box_two_heading }}</div>
						<p class="paragraph">{{ post.box_two_description }}</p>
						<a href="#" class="button-orange w-button button-pill">{{ post.box_two_cta_text }}</a>

                    </div>
            </div>
            <div class="col-lg-4 col-12 d-flex align-items-center flex-column">
                <a href="#"
                        class="home-intro-link-block _3 w-inline-block">

                    </a>
                    <div class="intro-block-text-wrapper">
                        <div class="intro-block-title">{{ post.box_three_heading }}</div>
						<p class="paragraph">{{ post.box_three_description }}</p>
						<a href="#" class="button-3 w-button button-pill">{{ post.box_three_cta_text }}</a>

                    </div>
            </div>
        </div>
    </div>
    <div class="image-section">
        <div class="image-section-overlay color">
            <div class="section-title-wrapper full">
                <h2 class="section-title">About the Forum</h2><img
                    src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c75d2a7d3a27c283f60aa_Path%20147.png"
                    height="2" alt="" />
                <div class="section-description small">{{ post.about_text }}</div>
            </div>
        </div>
    </div>
    <div class="section overflow-none">
        <div class="columns-3 w-row">
            <div class="home-mockup-column w-col w-col-5"><img
                    src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c7664db4d528b92038617_photo01.jpg"
                    data-ix="mockup-move" alt="" class="home-mockup" /></div>
            <div class="info-column-right responsive w-col w-col-7 d-flex align-items-start flex-column">
                <div class="long-feature-block">
                    <h2 class="section-title section-title-full">NTT, Intel and Sony Establish New Global Forum Dedicated to Realizing the Communications of the Future</h2><img
                        src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c77d8e402b6c7fd8d8b32_Line%203.svg"
                        height="2" alt="" />
                    <p class="section-description small long-feature-block">Delivering on the promise of a truly smart and connected world, where we enjoy an environment that improves the way humans live and interact with technology, requires a significant shift in computing, communications and network infrastructure. Nippon Telegraph and Telephone Corporation (NTT), Intel Corporation (Intel) and Sony Corporation (Sony) today announced that they will create a new industry forum, the Innovative Optical and Wireless Network (IOWN*) Global Forum.							<br /></p>
                    <a href="#" class="button-3 w-button button-square bg-blue">View Press Release</a>

                </div>
				<div class="long-feature-block"></div>
            </div>
        </div>
    </div>
    {% endblock %}
