{% if menu %}
	<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue" style="height:90px">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="https://static.wixstatic.com/media/1c1f1e_a65d59163ad747388748ca873ce77cca~mv2_d_6511_1563_s_2.png/v1/fill/w_303,h_71,al_c,q_85,usm_0.66_1.00_0.01/1c1f1e_a65d59163ad747388748ca873ce77cca~mv2_d_6511_1563_s_2.webp" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mx-auto">
        {% for item in menu.items %}
            <li class="nav-main-item {{ item.classes|join(' ') }}">
                <a class="nav-main-link text-white mx-3" href="{{ item.link }}">{{ item.title|capitalize }}</a>
                {% if item.children %}
                    <ul class="nav-drop">
                        {% for child in item.children %}
                            <li class="nav-drop-item">
                                <a href="{{ child.link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

          </ul>
        </div>
        </div>
      </nav>
    </header>
{% endif %}
