{% if menu %}
<header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/"><img src="{{ logo }}" width="255" height="85" alt="" class="logo" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
            
                            {% for item in menu.items %}
                            {% if item.children %}

                            <li class="nav-item dropdown">
                                    {% if item.current %}
                                    <a class="nav-link dropdown-toggle {{ item.classes|join(' ') }} text-orange" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{ item.title|capitalize }}
                                </a>                                
                                {% else %}
                                <a class="nav-link dropdown-toggle {{ item.classes|join(' ') }}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{ item.title|capitalize }}
                                </a>
                                {% endif %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% for child in item.children %}
                                    <a class="dropdown-item {{ item.classes|join(' ') }}" href="{{ child.link }}">{{ child.title|upper }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            {% else %}

                        <li class="nav-item">
                                {% if item.current %}
                                <a class="nav-link text-orange" href="{{ item.link }}">{{ item.title|upper }}</a>
                                {% else %}
                                    <a class="nav-link" href="{{ item.link }}">{{ item.title|upper }}</a>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% endfor %}
                        </ul>
                    </div>
                </nav>
</header>
{% endif %}