
{% if menu %}
    <div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1"
        data-w-id="9d98a81f-fd7b-9565-cfa5-dcdf1b74456c" class="navbar w-nav"><a href="/"
            class="logo-block w-nav-brand w--current"><img
                src="{{ logo }}"
                width="255" height="85" alt="" class="logo" /></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            {% for item in menu.items %}
            {% if item.children %}

            <div data-delay="0" class="dropdown w-dropdown">
                <div class="nav-link dropdown-toggle light w-dropdown-toggle">
                    <div>{{ item.title|capitalize }}</div>
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    {% for child in item.children %}
                      <a href="/about/about-1" class="dropdown-link w-dropdown-link">{{ child.title|upper }}</a>
                    {% endfor %}
                </nav>
            </div>
            {% else %}
            <a href="{{ item.link }}" class="nav-link dropdown-toggle light w-dropdown-toggle">{{ item.title|upper }}</a>
            {% endif %}

            {% endfor %}
        </nav>
        <div class="transparant-menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
{% endif %}